<sl-card class="card-overview">
  <div slot="header">Frieren: Beyond Journey's End</div>
  <img
    slot="image"
    src="assets/frieren-post.avif"
    alt="Frieren: Beyond Journey's End poster"
    width="250"
    height="350"
  />
  The elven mage Frieren is a former member of a party of adventurers who defeated the Demon King and restored harmony
  to the world after a ten-year quest. The party also consists of the human hero Himmel, the dwarven warrior Eisen, and
  the human priest Heiter.
  <div class="card-footer" slot="footer">
    <sl-rating label="Rating" readonly value="5"></sl-rating>
    <div class="tag-group">
      <sl-tag variant="primary">Shonen</sl-tag>
      <sl-tag variant="primary">Adventure</sl-tag>
      <sl-tag variant="primary">Fantasy</sl-tag>
      <sl-tag variant="primary">Drama</sl-tag>
      <sl-tag variant="primary">Magic</sl-tag>
    </div>
  </div>
</sl-card>
