<sl-card class="card-overview">
  <div slot="header">
    <%= item.title %>
  </div>
  <img
    slot="image"
    src=<%= item.image_url %>
    alt=<%= item.title %>
    width="250"
    height="350"
  />
  <div class="description-container">
    <div><%- item.description %></div>
  </div>
  <div class="card-footer" slot="footer">
    <sl-rating label="Rating" readonly value="5"></sl-rating>
    <div class="tag-group">
      <sl-tag variant="primary">Shonen</sl-tag>
      <sl-tag variant="primary">Adventure</sl-tag>
      <sl-tag variant="primary">Fantasy</sl-tag>
      <sl-tag variant="primary">Drama</sl-tag>
      <sl-tag variant="primary">Magic</sl-tag>
    </div>
  </div>
</sl-card>
