<nav>
  <ul>
    <li><a href="/">Everything</a></li>
    <li><a href="/watching">Watching</a></li>
    <li><a href="/completed">Completed</a></li>
    <li><a href="/plan-to-watch">Plan to Watch</a></li>
  </ul>
</nav>
