<nav>
  <ul>
    <li><a href="/">Everything</a></li>
    <li><a href="/current">Watching</a></li>
    <li><a href="/completed">Completed</a></li>
    <li><a href="/plan">Plan to Watch</a></li>
  </ul>
</nav>
