<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.19.1/cdn/themes/light.css" />
    <link rel="stylesheet" href="/styles.css" />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.19.1/cdn/shoelace-autoloader.js"
    ></script>
    <script src="js/scripts.js" defer></script>
    <title>YAL</title>
  </head>
  <body>
    <header>
      <h1>
        <div><span class="highlight-red">your</span> special</div>
        <div class="highlight-blue">Anime List</div>
      </h1>
      <img src="/assets/top-bg.jpg" alt="" height="130" width="auto" />
    </header>
    <sl-divider class="h-divider"></sl-divider>
    <main>
      <div class="split-panel-divider">
        <sl-split-panel position-in-pixels="350" snap="350px">
          <sl-icon slot="divider" name="grip-vertical"></sl-icon>
          <div slot="start" class="left">
            <nav>
              <ul>
                <li><a href="/">Everything</a></li>
                <li><a href="/current">Watching</a></li>
                <li><a href="/completed">Completed</a></li>
                <li><a href="/plan">Plan to Watch</a></li>
              </ul>
            </nav>
          </div>
          <div slot="end" class="right">
            <section>
              <form action="/search" method="get">
                <div class="genre">
                  <sl-dropdown stay-open-on-select="true">
                    <sl-button slot="trigger" caret>Choose Genre</sl-button>
                    <sl-menu>
                      <sl-menu-item type="checkbox">Isekai</sl-menu-item>
                      <sl-menu-item type="checkbox">School Romance</sl-menu-item>
                      <sl-menu-item type="checkbox">Comedy</sl-menu-item>
                    </sl-menu>
                  </sl-dropdown>
                </div>
                <search>
                  <sl-input placeholder="Search" name="query" clearable></sl-input>
                  <sl-icon-button type="submit" name="search" label="search"></sl-icon-button>
                </search>
              </form>
            </section>
          </div>
        </sl-split-panel>
      </div>
    </main>
  </body>
</html>
