<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.19.1/cdn/themes/light.css" />
    <link rel="stylesheet" href="/styles.css" />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.19.1/cdn/shoelace-autoloader.js"
    ></script>
    <title>YAL</title>
  </head>
  <body>
    <div class="heading">
      <h1>
        <div><span class="highlight-red">your</span> special</div>
        <div class="highlight-blue">Anime List</div>
      </h1>
    </div>
    <sl-divider class="h-divider"></sl-divider>
    <section></section>
  </body>
</html>
