<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.19.1/cdn/themes/light.css" />
    <link rel="stylesheet" href="/styles.css" />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.19.1/cdn/shoelace-autoloader.js"
    ></script>
    <script src="js/scripts.js" defer></script>
    <script src="js/observer.js" defer></script>
    <title>YAL</title>
  </head>
  <body>
    <header>
      <h1>
        <div><span class="highlight-red">your</span> special</div>
        <div class="highlight-blue">Anime List</div>
      </h1>
      <img src="/assets/top-bg.jpg" alt="" height="130" width="auto" />
    </header>
    <sl-divider class="h-divider"></sl-divider>
    <main>
      <div class="split-panel-divider">
        <sl-split-panel class="split-group" position-in-pixels="350" snap="350px">
          <sl-icon slot="divider" name="grip-vertical"></sl-icon>
          <div slot="start" class="left">
            <%- include("partials/categories") %>
          </div>
          <div slot="end" class="right">
            <%- include ("partials/form") %>
            <section class="titles">
              <div id="titles-container" class="grid-wrapper">
                <%- include("partials/titles", { titles: titles }) %>
              </div>
              <div id="sentry" data-page="1"></div>
            </section>
          </div>
        </sl-split-panel>
      </div>
    </main>
  </body>
</html>
