:root {
  font-family: var(--sl-font-sans);
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  padding: 0 var(--sl-spacing-2x-large);
  background-color: var(--sl-color-gray-50);
  color: var(--sl-color-sky-950);
}

/* Heading */
header {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: var(--sl-spacing-2x-large);
  padding-bottom: var(--sl-spacing-x-large);
}

header > * {
  flex: 1 1 auto;
}

header h1 {
  max-width: 300px;
}

header img {
  opacity: 0.6;
  object-fit: cover;
  object-position: left 80%;
}

header div:first-child {
  letter-spacing: 0.1rem;
  font-size: var(--sl-font-size-x-large);
  font-style: italic;
  text-align: left;
}

header div:last-child {
  font-size: var(--sl-font-size-3x-large);
  width: fit-content;
  margin-left: auto;
}

.highlight-blue {
  background: linear-gradient(to top, var(--sl-color-primary-200) 40%, transparent 40%);
}

.highlight-red {
  background: linear-gradient(to top, var(--sl-color-danger-200) 40%, transparent 40%);
}

.h-divider {
  --width: 2px;
  --color: var(--sl-color-danger-100);
}

/* Split Panel */
sl-split-panel {
  --min: 250px;
  --max: 35%;
}

.split-panel-divider sl-split-panel {
  --divider-width: 2px;
}

.split-panel-divider sl-split-panel::part(divider) {
  background-color: var(--sl-color-primary-600);
}

.split-panel-divider sl-icon {
  position: absolute;
  border-radius: var(--sl-border-radius-small);
  background: var(--sl-color-primary-600);
  color: var(--sl-color-neutral-0);
  padding: var(--sl-spacing-medium) 0;
}

.split-panel-divider sl-split-panel::part(divider):focus-visible {
  background-color: var(--sl-color-danger-400);
}

.split-panel-divider sl-split-panel::part(divider):focus-visible sl-icon[name="grip-vertical"] {
  background-color: var(--sl-color-danger-400);
  color: var(--sl-color-neutral-0);
}

/* Left Side */
.left nav {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-top: var(--sl-spacing-2x-large);
  background: var(--sl-color-neutral-50);
  overflow: hidden;
}

.left nav ul {
  display: flex;
  flex-direction: column;
  gap: var(--sl-spacing-2x-large);
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  font-weight: 500;
}

.left a {
  position: relative;
  text-decoration: none;
  color: inherit;
  z-index: 100;
}

.left a.active {
  background: linear-gradient(to top, var(--sl-color-danger-200) 100%, transparent 40%);
}

.left a::before {
  content: "";
  background-color: var(--sl-color-primary-200);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 0px;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.left a:not(.active):hover::before {
  bottom: 0;
  height: 100%;
}

/* Right Side */
.right {
  padding: var(--sl-spacing-large) var(--sl-spacing-2x-large);
  background: var(--sl-color-neutral-50);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
}

.right .form-container {
  display: flex;
  justify-content: center;
  gap: var(--sl-spacing-large);
  padding: 1rem;
}

.right .search-container {
  flex: 1;
  display: flex;
  gap: var(--sl-spacing-medium);
  align-items: last baseline;
}

.right .input-container {
  flex: 2;
  display: flex;
  gap: var(--sl-spacing-large);
}

.right form {
  display: flex;
  justify-content: center;
  width: 100%;
  height: max-content;
  align-items: flex-start;
  gap: var(--sl-spacing-large);
}

.status,
.genre,
.year {
  flex: 1;
  min-width: 200px;
  width: 100%;
}

.year {
  max-width: 300px;
}

.status,
.season {
  max-width: 200px;
}

.genre {
  min-width: 300px;
  max-width: 500px;
}

search {
  flex: 1 1 30%;
  min-width: 250px;
  display: flex;
  align-items: center;
  gap: var(--sl-spacing-small);
}

search sl-input {
  width: 100%;
}

sl-icon-button {
  font-size: 1.25rem;
}

@media (max-width: 1720px) {
  .right form {
    flex-direction: column-reverse;
  }

  .input-container,
  .search-container {
    width: 100%;
  }
}

@media (max-width: 1500px) {
  .input-container {
    flex-wrap: wrap;
  }

  .genre,
  .year {
    flex-basis: 50%;
  }

  .input-container > * {
    flex-grow: 1;
    min-width: 150px;
    max-width: unset;
  }
}

/* Random */
.button::part(base) {
  color: var(--sl-color-sky-950);
}
