:root {
  font-family: Helvetica, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --sl-color-tomato: #ff6347;
  --sl-color-lightblue: #add8e6;
  --sl-color-coral: #ff7f50;
  --sl-color-lightyellow: #ffeb3b;
  --sl-color-lightgreen: #8bc34a;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  opacity: 0;
  padding: 0 var(--sl-spacing-2x-large);
  background-color: var(--sl-color-gray-50);
  color: var(--sl-color-sky-950);
}

body.ready {
  opacity: 1;
  transition: 0.25s opacity;
}

/* Heading */
header {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: var(--sl-spacing-2x-large);
  padding-bottom: var(--sl-spacing-x-large);
}

header > * {
  flex: 1 1 auto;
}

header h1 {
  max-width: 300px;
}

header img {
  opacity: 0.6;
  object-fit: cover;
  object-position: left 80%;
}

header div:first-child {
  letter-spacing: 0.1rem;
  font-size: var(--sl-font-size-x-large);
  font-style: italic;
  text-align: left;
}

header div:last-child {
  font-size: var(--sl-font-size-3x-large);
  width: fit-content;
  margin-left: auto;
}

main {
  height: 100%;
}

.highlight-blue {
  background: linear-gradient(to top, var(--sl-color-primary-200) 40%, transparent 40%);
}

.highlight-red {
  background: linear-gradient(to top, var(--sl-color-danger-200) 40%, transparent 40%);
}

.h-divider {
  --width: 2px;
  --color: var(--sl-color-danger-100);
}

/* Split Panel */
sl-split-panel {
  --min: 250px;
  --max: 35%;
}

sl-split-panel::part(panel) {
  height: 100%;
}

.left {
  height: 100vh;
}

.split-panel-divider sl-split-panel {
  --divider-width: 2px;
}

.split-panel-divider sl-split-panel::part(divider) {
  background-color: var(--sl-color-primary-600);
}

.split-panel-divider sl-icon {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  border-radius: var(--sl-border-radius-small);
  background: var(--sl-color-primary-600);
  color: var(--sl-color-neutral-0);
  padding: var(--sl-spacing-medium) 0;
}

.split-panel-divider sl-split-panel::part(divider):focus-visible {
  background-color: var(--sl-color-danger-400);
}

.split-panel-divider sl-split-panel::part(divider):focus-visible sl-icon[name="grip-vertical"] {
  background-color: var(--sl-color-danger-400);
  color: var(--sl-color-neutral-0);
}

/* Left Side */
.left nav {
  display: flex;
  justify-content: center;
  padding-top: var(--sl-spacing-2x-large);
  background: var(--sl-color-neutral-50);
}

.left nav ul {
  display: flex;
  flex-direction: column;
  gap: var(--sl-spacing-2x-large);
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  font-weight: 500;
}

.left a {
  position: relative;
  text-decoration: none;
  color: inherit;
  z-index: 100;
}

.left a.active {
  background: linear-gradient(to top, var(--sl-color-danger-200) 100%, transparent 40%);
}

.left a::before {
  content: "";
  background-color: var(--sl-color-primary-200);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 0px;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.left a:not(.active):hover::before {
  bottom: 0;
  height: 100%;
}

/* Right Side */
.right {
  padding: var(--sl-spacing-large) var(--sl-spacing-2x-large);
  background: var(--sl-color-neutral-50);
  display: flex;
  flex-direction: column;
}

.right .form-container {
  display: flex;
  justify-content: center;
  gap: var(--sl-spacing-large);
  padding: 1rem;
}

.right .search-container {
  flex: 1 1 30%;
  display: flex;
  gap: var(--sl-spacing-medium);
  align-items: last baseline;
}

.right .input-container {
  flex: 1 1 70%;
  width: 100%;
  display: flex;
  gap: var(--sl-spacing-large);
}

.right form {
  display: flex;
  justify-content: center;
  width: 100%;
  height: max-content;
  align-items: flex-start;
  gap: var(--sl-spacing-large);
}

.status,
.genre,
.year {
  min-width: 200px;
  width: 100%;
}

.year {
  max-width: 300px;
}

.status {
  max-width: 200px;
}

.genre {
  min-width: 300px;
}

search {
  flex: 1 1 30%;
  min-width: 250px;
  display: flex;
  align-items: center;
  gap: var(--sl-spacing-small);
}

search sl-input {
  width: 100%;
}

sl-icon-button {
  font-size: 1.25rem;
}

@media (max-width: 1720px) {
  .right form {
    flex-direction: column-reverse;
  }

  .input-container,
  .search-container {
    width: 100%;
  }
}

@media (max-width: 1500px) {
  .input-container {
    flex-wrap: wrap;
  }

  .input-container > * {
    flex: 1 1 0;
    min-width: 150px;
    max-width: unset;
  }

  .genre,
  .year {
    flex-basis: 50%;
  }

  .grid-wrapper {
    justify-content: space-evenly;
  }
}

@media (max-width: 1315px) {
  body.ready {
    padding: 0 0.5rem;
  }

  .right {
    padding: var(--sl-spacing-medium) 0.5rem;
  }
}

/* Result */
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, auto));
  gap: var(--sl-spacing-medium);
  padding: var(--sl-spacing-large);
}

/* Card */
.card-overview {
  width: 100%;
  max-width: 350px;
}

.card-overview img {
  max-width: 100%;
  max-height: 350px;
  object-fit: cover;
  display: block;
}

sl-card {
  height: 100%;
}

sl-card::part(base) {
  max-height: 1000px;
  height: 100%;
}

sl-card::part(header) {
  color: var(--sl-color-indigo-500);
  font-size: 1.25rem;
  text-align: center;
  --padding: var(--sl-spacing-2x-large);
}

sl-card::part(body) {
  flex-grow: 1;
  height: 350px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  transition: scrollbar-color 0.3s ease;
}
sl-card::part(body):hover {
  scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
}

sl-card::part(body)::-webkit-scrollbar {
  width: 8px;
}

sl-card::part(body)::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

sl-card::part(body)::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.card-actions {
  width: 90%;
  display: flex;
  gap: var(--sl-spacing-small);
  align-items: center;
  justify-content: space-evenly;
  margin-top: var(--sl-spacing-small);
  padding-top: var(--sl-spacing-small); /* Add padding */
  border-top: 1px solid var(--sl-color-neutral-200); /* Add a separator line */
}

.card-footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.genre-group {
  display: flex;
  justify-self: end;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--sl-spacing-x-small);
}

.button::part(base) {
  color: var(--sl-color-sky-950);
}

/* Rating hover */
.detect-hover {
  display: flex;
  align-items: center;
  min-height: 30px;
}

.detect-hover span {
  position: relative;
  left: 8px;
  border-radius: var(--sl-border-radius-small);
  background: var(--sl-color-neutral-900);
  color: var(--sl-color-neutral-0);
  text-align: center;
  padding: 4px 6px;
}

.detect-hover span:empty {
  display: none;
}

#sentry {
  width: 100%;
  height: 1px;
  margin-top: 20px;
  visibility: hidden;
}

#titles-container .no-data {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  grid-column: 1/-1;
}

#titles-container img {
  max-width: 350px;
  height: auto;
}

sl-badge {
  transform: scale(1.2);
}
